@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }

  
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left:auto;
  display: flex;
  justify-content: space-around;
  width: 40%;
  
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px 10px ;
}
.navbar a:hover {
  color: #f1356d;
}
.links button{
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color:#f1356d;
  color:white;
  font:17px Helvetica;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog preview  */

.blog-preview{
  margin-left:1rem ;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 6px solid #fafafa;
}

.Blog-title{
  text-decoration: none;
}
.blog-preview:hover {
  box-shadow: 1px 3px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2{
 font-size: 20px;
 color: #f1356d;
 margin-bottom: 6px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-weight: bold;
}
.create h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f1356d;
  margin: 30px ;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details{
  max-width: 600px;
    margin: 40px auto;
}

.blog-details div{
 max-width: 20px  0;

}

.blog-details h2{
  color: #f1356d;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  margin:0;
  text-transform: capitalize;
}

.blog-details button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* About Page */

.about{
  max-width: 600px;
  margin: 40px auto;
}

.about  h2{
  color: #f1356d;
  font-size: 40px;
  margin-bottom:1rem;
}

.about p{
  font-weight: 600;
  line-height: 2;
}
.about .btn{
 background: #f1356d;
 border: none;
 padding: 8px 10px;
 border-radius:6px ;
 color: #fafafa;

}

.about .btn:hover{
opacity: 0.7;
background: #f1356d;
border: none;
padding: 8px 10px;
border-radius:6px ;
color: black;
}